<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/317e10ea-cef4-46c8-8055-fd6cb2c9178b/resourceGroups/ehomework/providers/Microsoft.ContainerRegistry/registries/homeworkcr</ResourceId>
    <ResourceName>homeworkcr</ResourceName>
    <ResourceGroup>ehomework</ResourceGroup>
    <Subscription>Visual Studio Premium with MSDN</Subscription>
    <RegistryUrl>homeworkcr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>5611fe4d-3b19-4bc6-a703-29949987b155</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>